<div id="paragraph_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <iframe
                  id="paragraph_iframe"
                  name="paragraph_iframe"
                  title="Inline Frame Example"
                  width="100%"
                  height="750"
                  src="{{ path('admin_blank') }}"
                  data-src="{{ path('admin_blank') }}"
                >
                </iframe>
            </div>
        </div>
    </div>
</div>
