<div class="wrapper">
    <h3 class="title">
        {{ item.title }}
    </h3>
    <ul class="list-competences">
        {% for competence in item.competences %}
            <li class="icon-{{ competence.icon }}">
                {{ competence.title }}
            </li>
        {% endfor %}
    </ul>
</div>