<div class="background spoiler" data-bg="{{ site_asset(episode, 'img') }}"></div>
<div class="content">
    <h3 class="title">
        {{ episode.title }}
    </h3>
    <div class="overview">
        {{ episode.overview|raw }}
    </div>
</div>