<div class="background spoiler" data-bg="{{ site_asset(episode.img ? episode : (episode.refseason.img ? episode.refseason : episode.refseason.refserie), 'img') }}"></div>
<div class="wrapper">
    <h3 class="title">
        {{ episode.title }}
    </h3>
</div>