<div class="wrapper">
    <h3 class="title">
        {{ item.title }}
    </h3>
    <div class="date">
        {{ item.year }}
    </div>
    <div class="place">
        {{ item.place }}
    </div>
</div>