<a href="{{ site_path(game) }}">
    <div class="background spoiler" data-bg="{{ site_asset(game, 'img') }}">
    </div>
    <div class="wrapper">
        <h2 class="title">
            {{ game.title }}
        </h2>
    </div>
</a>