<a href="{{ site_path(page) }}" title="{{ page.title|e('html_attr') }}">
    <div class="background spoiler" data-bg="{{ site_asset(page, 'img') }}"></div>
    <div class="wrapper">
        <div>
            <h3 class="title">
                {{ page.title }}
            </h3>
        </div>
    </div>
</a>