<a href="{{ site_path(page) }}" title="{{ page.title|e('html_attr') }}">
    <div class="background" style="--image-url: url('{{ site_asset(page, 'img') }}')">
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="title">
                {{ page.title }}
            </div>
        </div>
    </div>
</a>