<a href="{{ site_path(season) }}">
    <div class="background spoiler" data-bg="{{ site_asset(season.img ? season : season.refserie, 'img') }}"></div>
    <div class="wrapper">
        <h3 class="title">
            {{ season.title }}
        </h3>
        <div class="episodes">
            {{ "%number% episodes"|trans({'%number%': season.episodes|length}) }}
        </div>
    </div>
</a>