@use "../mixins";
@use "../placeholders" as *;

.teaser-experience {
    @extend %teaser;
    position: relative;
    padding-left: 60px;
    margin-bottom: 40px;

    .wrapper {
        &:nth-child(1) {
            width: 100%;
        }
    }
    .content{
        padding: 10px;
    }
}