@use "../mixins";
@use "../placeholders" as *;
.teaser-formation{
    @extend %teaser;
    position: relative;
    padding-left: 60px;
    margin-bottom: 40px;
    .wrapper {
        &:nth-child(1) {
            width: 100%;
        }
    }
}