@use "../placeholders" as *;

.teaser-game {
  @extend %teaser;

  .background {
    align-items: flex-end;
    justify-content: flex-start;
    height: 420px;

    .year {
      background-color: #363636;
      color: yellow;
      padding: 5px;
      margin: 5px;
    }
  }
}