@use "../placeholders" as *;
.teaser-movie{
  @extend %teaser;
  .background{
    align-items: flex-end;
    justify-content: flex-start;
    .year{
      background-color: #363636;
      color: yellow;
      padding: 5px;
      margin: 5px;
    }
  }
}