@use "../placeholders" as *;
.teaser-saga{
  @extend %teaser;
  .background{
    height: 433px;
    align-items: flex-end;
    justify-content: space-between;
    .movies{
      background-color: #363636;
      color: yellow;
      padding: 5px;
      margin: 5px;
    }
  }
}