@use "../placeholders" as *;

.teaser-saga {
  @extend %teaser;

  .background {
    height: 587px;
    align-items: flex-end;
    justify-content: flex-start;

    .movies {
      background-color: #363636;
      color: yellow;
      padding: 5px;
      margin: 5px;
    }
  }
}