@use "../placeholders" as *;
@use "../mixins";
.teaser-season{
  @extend %teaser;
  a{
    display: grid;
    grid-template-areas:
        "img"
        "content";
    grid-template-columns: 1fr;
    @include mixins.respond-to(md) {
      grid-template-areas:
          "img content";
      grid-template-columns: 1fr 4fr;
      gap: 16px;
    }
    .img{
      grid-area: img;
    }
    .background{
      height: 300px;
    }
    .content{
      grid-area: content;
    }
  }
  &:nth-child(odd) {
    a {
      @include mixins.respond-to(md) {
        grid-template-areas:
          "img content"; // disposition normale
        grid-template-columns: 1fr 4fr;
      }
    }
  }

  // Quand le <li> est pair
  &:nth-child(even) {
    a {
      @include mixins.respond-to(md) {
        grid-template-areas:
          "content img"; // on inverse l'ordre par exemple
        grid-template-columns: 4fr 1fr;
      }
    }
  }
}