@use "../placeholders" as *;
@use "../icons";
.teaser-serie{
  @extend %teaser;
  .background{
    height: 433px;
    align-items: flex-end;
    justify-content: space-between;
    .year{
      background-color: #363636;
      color: yellow;
      padding: 5px;
      margin: 5px;
    }
    .play{
      &::before{
        @extend .iconbefore;
        @extend .icon-play;
      }
    }
    .stop{
      &::before{
        @extend .iconbefore;
        @extend .icon-stop;
      }
    }
    .seasons{
      background-color: #363636;
      color: yellow;
      padding: 5px;
      margin: 5px;
    }
  }
}