@use "../placeholders" as *;
.teaser-star{
  @extend %teaser;
  padding: 1rem;
  .description {
    padding: 20px;
  }
  ul{
    display: block;
    padding-top: 20px;
    padding-left: 40px;
    b{
      font-weight: bold;
    }
    li{
      padding-bottom: 10px;
      background: none;
    }
  }
  a{
    &::before{
      content: '';
    }
  }
}