@use "../mixins";
@use "../placeholders" as *;

.teaser-training {
    @extend %teaser;
    position: relative;
    padding-left: 60px;
    margin-bottom: 40px;

    .wrapper {
        &:nth-child(1) {
            width: 100%;
        }
    }

    .date {
        &::before {
            @extend .iconbefore;
            @extend .icon-date;
        }
    }

    .place {
        &::before {
            @extend .iconbefore;
            @extend .icon-place;
        }
    }
}