/node_modules
/apps/vendor
/apps/bin/
!/apps/bin/console
/apps/public/assets
*.phar
*.cache
docker-compose-*.yml
!docker-compose-lampy.yml
.env
!/apps/public/uploads/
/apps/public/uploads/*
!/apps/public/uploads/.gitkeep
.phpcs-cache
stars.json