/node_modules
/apps/vendor
/apps/bin/
!/apps/bin/console
/apps/public/assets
!/apps/private
/apps/private/*
!/apps/private/disable.txt
!/apps/private/forbidden.txt
*.phar
*.cache
docker-compose-*.yml
!docker-compose-lampy.yml
.env
!/apps/public/uploads/
/apps/public/uploads/*
!/apps/public/uploads/.gitkeep
.phpcs-cache
/conf/apache2