{% set instance = entity.instance %}
{% set categories = instance.categories|default([]) %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for category in categories %}
        <li>{{ category.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ categories|length }}
{% endif %}
