{# Prefer field.value (collection or array) to avoid relying on entity.instance in list rows #}
{% set categories = field.value is defined and field.value is not null ? field.value : [] %}
{% if ea().crud.currentAction == 'detail' %}
  <ul>
    {% for category in categories %}
        <li>{{ category.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ categories|length }}
{% endif %}
