{% set instance = entity.instance %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for chapters in instance.chapters %}
        <li>{{ chapters.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ instance.chapters|length }}
{% endif %}
