{% set instance = entity.instance %}
{% if ea().crud.currentAction == 'detail' %}
  <ul>
    {% for chapter in instance.chapters %}
        <li>
          <a href="{{ admin_url('detail', chapter) }}">
            {{ chapter.title }}
          </a>
        </li>
    {% endfor %}
  </ul>
{% else %}
  <span class="badge badge-secondary">{{ instance.chapters|length }}</span>
{% endif %}
