{# Prefer field.value (collection or array) to avoid relying on entity.instance in list rows #}
{% set companies = field.value is defined and field.value is not null ? field.value : [] %}
{% if ea().crud.currentAction == 'detail' %}
  <ul>
    {% for company in companies %}
        <li>
          <a href="{{ path('admin_company_detail', {'entityId': company.id}) }}">{{ company.title }}</a>
        </li>
    {% endfor %}
  </ul>
{% else %}
  {{ companies|length }}
{% endif %}
