{% set instance = entity.instance %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for movie in instance.movies %}
      <li>
        <a href="{{ admin_url('detail', movie) }}">
          {{ movie.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  {{ instance.movies|length }}
{% endif %}
