{% set instance = entity.instance %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for movies in instance.movies %}
        <li>{{ movies.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ instance.movies|length }}
{% endif %}
