{% set instance = entity.instance %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for paragraph in instance.paragraphs %}
      <li>{{ paragraph_name(paragraph) }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ instance.paragraphs|length }}
{% endif %}
