{% if field.value is null %}
    <span class="text-muted">{{ 'No parent'|trans }}</span>
{% else %}
    <a href="{{ admin_url('detail', field.value) }}">
        {{ field.value.title }}
    </a>
{% endif %}