{% set instance = entity.instance %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for season in instance.seasons %}
        <li>
          <a href="{{ admin_url('detail', season) }}">
            #{{ loop.index }}
          </a>: {{ season.title }}
        </li>
    {% endfor %}
  </ul>
{% else %}
  {{ instance.seasons|length }}
{% endif %}
