{% set instance = entity.instance %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for seasons in instance.seasons %}
        <li>{{ seasons.number }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ instance.seasons|length }}
{% endif %}
