{# Use field.value for seasons collection to be robust on index/detail #}
{% set seasons = field.value is defined and field.value is not null ? field.value : [] %}
{% if ea().crud.currentAction == 'detail' %}
  <ul>
    {% for season in seasons %}
        <li>
          <a href="{{ admin_url('detail', season) }}">
            #{{ season.number }}
          </a>: {{ season.title }}
        </li>
    {% endfor %}
  </ul>
{% else %}
  {{ seasons|length }}
{% endif %}
