{% set instance = entity.instance %}
{% set tags = instance.tags|default([]) %}
{% if ea.crud.currentAction == 'detail' %}
  <ul>
    {% for tag in tags %}
        <li>{{ tag.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ tags|length }}
{% endif %}
