{# Use field.value when available to avoid depending on entity.instance #}
{% set tags = field.value is defined and field.value is not null ? field.value : [] %}
{% if ea().crud.currentAction == 'detail' %}
  <ul>
    {% for tag in tags %}
        <li>{{ tag.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ tags|length }}
{% endif %}
