{% set instance = entity.instance %}
{% set transitions = workflow_transitions(instance) %}
<ul>
{% for transition in transitions %}
    {% if workflow_can(instance, transition.name) %}
        <li>
            <a href="{{ path('admin_workflow', {'uid': instance.id, 'transition': transition.name, 'entity': entity.fqcn}) }}">{{ transition.name }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>