@import url("@nm/bootstrap/scss/bootstrap");
@import url("@nm/@fortawesome/fontawesome-free/scss/brands.scss");
@import url("@nm/@fortawesome/fontawesome-free/scss/fontawesome.scss");
@import url("@nm/@fortawesome/fontawesome-free/scss/regular.scss");
@import url("@nm/@fortawesome/fontawesome-free/scss/solid.scss");

.sort-list{
  li{
    cursor: move;
  }
}

#paragraph-sort{
  .fa-arrows-alt{
    cursor: move;
  }
}

a{
  text-decoration: none;

  &.paragraph-edit{
    @extend .btn !optional;
    @extend .btn-sm !optional;
    @extend .btn-primary !optional;

    &::before{
      @extend .fas !optional;
      @extend .fa-edit !optional;
    }
  }

  &.paragraph-delete{
    @extend .btn !optional;
    @extend .btn-sm !optional;
    @extend .btn-danger !optional;

    &::before{
      @extend .fas !optional;
      @extend .fa-trash !optional;
    }
  }
}
