@import url("@nm/bootstrap/scss/bootstrap");
@import url("@nm/@fortawesome/fontawesome-free/scss/brands.scss");
@import url("@nm/@fortawesome/fontawesome-free/scss/fontawesome.scss");
@import url("@nm/@fortawesome/fontawesome-free/scss/regular.scss");
@import url("@nm/@fortawesome/fontawesome-free/scss/solid.scss");

.sort-list{
  li{
    cursor: move;
  }
}

#paragraph-sort{
  .fa-arrows-alt{
    cursor: move;
  }
}

a{
  text-decoration: none;

  &.paragraph-edit{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;

    &::before{
      @extend .fas;
      @extend .fa-edit;
    }
  }

  &.paragraph-delete{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-danger;

    &::before{
      @extend .fas;
      @extend .fa-trash;
    }
  }
}
