@import "@nm/bootstrap/scss/bootstrap";
@import "@nm/@fortawesome/fontawesome-free/scss/brands.scss";
@import "@nm/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@nm/@fortawesome/fontawesome-free/scss/regular.scss";
@import "@nm/@fortawesome/fontawesome-free/scss/solid.scss";

.sort-list{
  li{
    cursor: move;
  }
}
#paragraph_sort{
  .fa-arrows-alt{
    cursor: move;
  }
}

a{
  text-decoration: none;
  &.paragraph_edit{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;
    &::before{
      @extend .fas;
      @extend .fa-edit;
    }
  }
  &.paragraph_delete{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-danger;
    &::before{
      @extend .fas;
      @extend .fa-trash;
    }
  }
}
