<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block meta %}
            <meta charset="UTF-8">
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('front') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('front') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% include 'main.html.twig' %}
        {% include 'footer.html.twig' %}
    </body>
</html>
