<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    <div class="title">
        {{ paragraph.title }}
    </div>
    <ul>
        {% for row in chapters %}
            <li>
                {% include  "teasers/chapter.html.twig"  with {'chapter': row} %}
            </li>
        {% endfor %}
    </ul>
</section>