{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        {% if paragraph.title|length != 0 %}
            <h3 class="title">
                {{ paragraph.title }}
            </h3>
        {% endif %}
        <ul>
            {% for row in episodes %}
                <li class="teaser-episode">
                    {% include  "teasers/episode.html.twig"  with {'episode': row} %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>