{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <h2>
            <i class="fa-solid fa-school"></i>
            {{ paragraph.title}}
        </h2>
        <ul class="listformations">
            {% for item in paragraph.formations %}
                <li class="teaser-formation">
                    {% include  "teasers/formation.html.twig"  with {'item': item} %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>