{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper html-content">
        {% if execute %}
            {{ paragraph.content|raw }}
        {% endif %}
        {{ form(form) }}
    </div>
</section>