<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    <div class="background" style="--image-url: url('{{ site_asset(data.entity, 'img') }}')"></div>
	<div class="wrapper">
		<div class="title">
			{{ data.entity.title }}
		</div>
    </div>
</section>