<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    <div class="wrapper">
        <div class="title">
            <h2>{{ paragraph.title }}</h2>
        </div>
        <div class="link">
            <a href="{{ path('front', {'slug': listing.slug}) }}" class="btn">Voir toutes les histoires</a>
        </div>
        <div class="list">
            <ul>
                {% for row in histories %}
                    <li class="history-teaser">
                        {% include  "teasers/history.html.twig"  with {'history': row} %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>