{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <h2>
            {{ paragraph.title }}
        </h2>
        <div class="link">
            <a href="{{ path('front', {'slug': listing.slug}) }}" class="btn">
                {{ 'See all stories'|trans }}
            </a>
        </div>
        <div class="list">
            <ul>
                {% for story in stories %}
                    <li class="teaser-story">
                        {% include  "teasers/story.html.twig"  with {'story': story} %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>