{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <h2 class="title">
            {{ paragraph.title }}
        </h2>
        <div class="link">
            <a href="{{ path('front', {'slug': listing.slug}) }}" class="btn">
                {{ 'See all news'|trans }}
            </a>
        </div>
        <div class="list">
            <ul>
                {% for row in news %}
                    <li class="teaser-post">
                        {% include  "teasers/post.html.twig"  with {'post': row} %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>