<section id="{{ paragraph_id(paragraph) }}">
    <ul>
        {% for row in pagination %}
            <li>
                {% include  "teasers/post.html.twig"  with {'post': row} %}
            </li>
        {% endfor %}
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</section>