{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <div class="content html-content">
            {{ paragraph.content|raw }}
        </div>
        <ul>
            {% for page in childs %}
                <li class="teaser-page">
                    {% include "teasers/page.html.twig"  with {'page': page} %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>