{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <h2>{{ paragraph.title }}</h2>
        <ul>
            {% for item in skills %}
                <li class="teaser-skills">
                    {% include "teasers/skills.html.twig"  with {'item': item} %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>