{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <div class="text">
            {{ paragraph.content|raw }}
        </div>
        {% include "embed/video.html.twig" with {
            'btntitle': 'Watch the video'|trans,
            'image': site_asset(paragraph, 'img'),
            'trailer': oembed,
            'title': title,
            'provider': provider
        } %}
    </div>
</section>