{% set urlImage = paragraph.img ? site_asset(paragraph, 'img') : image %}
<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}"{{ paragraph_contextmenu(paragraph) }}>
    <div class="wrapper">
        {% include "embed/video.html.twig" with {'image': urlImage, 'trailer': oembed} %}
    </div>
</section>