<section id="{{ paragraph_id(paragraph) }}">
    {% if paragraph.img != '' %}
        <img src="{{ asset(baseUrlVideo ~ '/' ~ paragraph.img) }}">
    {% endif %}
    {{ html|raw }}
Paragraph video</section>