<h2>%title%</h2><br />
<p>
    (Sortie le %release_date%)
</p>
<p>
    %overview%
</p>
<p>
    Avec: %cast%
</p>
<div style="text-align: center">
    <a href="%url%" target="_blank">Aller sur la page TMDB</a>
</div>