@use "../mixins";
.paragraph_chapter-list{
  .wrapper{

  }
  .title{

  }
  ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    @include mixins.respond-to(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  li{

  }
}