@use "../mixins";
@use "../variables";
@use "../placeholders";

.paragraph_edito{
  .wrapper {
    width: 100%;
    margin: auto;
    @extend %paddingdefault;
    @include mixins.respond-to(md) {
      width: 80%;
    }
    .wrapper {
      width: 100%;
    }
  }
  .background{

  }
  h3{
    
  }
}