@use "../mixins";
@use "../placeholders" as *;
@use "../icons";

.paragraph_experiences {
  h2 {
    &::before {
      @extend .icon-briefcase;
      @extend .iconbefore;
    }
  }

  ul {
    &.listexperiences {
      list-style: none;
      margin: 0;
      margin-top: 50px;
      margin-left: 50px;
      padding: 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 20px;
        top: 35px;
        bottom: 0;
        width: 2px;
        background: white;
      }

      li {
        &::before {
          content: "";
          position: absolute;
          left: 5px;
          top: 35px;
          width: 30px;
          height: 30px;

          // Cercle de fond
          background-color: #c7dfb4;
          border-radius: 50%;
          border: 3px solid white;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

          // Icône SVG centrée
          @extend .icon-briefcase__black;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
        }
      }
    }
  }
}