@use "../mixins";
@use "../placeholders" as *;
.paragraph_experiences{
  ul{
    list-style: none;
    margin: 0;
    margin-top: 50px;
    margin-left: 50px;
    padding: 0;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: 20px;
      top: 0;
      bottom: 0;
      width: 2px;
      background: white;
    }
    li{
      &::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 10px;
        width: 30px;
        height: 30px;
        background: #c7dfb4;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
      }
    }
  }
}