@use "../placeholders" as *;
@use "../icons";
.paragraph_head-story{
  @extend %head;
  .content{
    
  }
  .background{

  }
  .wrapper{

  }
  .title{
    
  }
  .author{

  }
  .chapters{

  }
  .date{

  }
  .pdf{
    a{
      &::before{
        @extend .iconbefore;
        @extend .icon-pdf;
      }
      i{
        
      }
    }
  }
}