@use "../placeholders" as *;
@use "../icons";

.paragraph_head-post {
  @extend %head;

  .content {}

  .background {}

  .wrapper {}

  .title {}

  .date {
    &::before {
      @extend .iconbefore;
      @extend .icon-date;
    }
  }
}