.head-post{
  margin-bottom: 2rem;
  .background{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .date{
    
  }
}