@use "../placeholders" as *;
@use "../icons";
.paragraph_head-season{
  .first {
    @extend %head;
    height: 300px;
    .background{

    }
    .wrapper{

    }
    .title{

    }
    .author{

    }
    .date{
      
    }
    .duration{
      &::before{
        @extend .iconbefore;
        @extend .icon-runtime;
      }
    }
  }
}