section{
  &.last-history {
    @include reusable-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .wrapper {
      box-sizing: inherit;
      display: grid;
      grid-template-areas:
          "title"
          "content"
          "link";
      grid-template-columns: 1fr;
      flex-direction: column;
    }
    .title {
      font-size: 1.2rem;
      font-weight: 350;
      margin-bottom: 1rem;
      grid-area: title;
    }

    .link {
      grid-area: link;
      text-align: center;
    }
    .list{
      grid-area: content;}

    .list, .link {
      flex: 0 0 100%;
    }
    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 30px;
    }
    ul {
      .title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        grid-area: title;
      }
    }

    @media (min-width: 769px) {
      .wrapper {
        flex-direction: row;
        grid-template-areas:
          "content title"
          "content link";
        grid-template-rows: 10% 90%;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
      }

      .list {
        grid-area: content;
        box-sizing: inherit;
        flex: 0 0 70%;
      }

      .link {
        box-sizing: inherit;
        flex: 0 0 30%;
        text-align: center;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: stretch;
      }

      li {
        height: auto;
        &:nth-child(1) {
          margin-bottom: 75px;
        }
        &:nth-child(2) {
          margin-top: 75px;
        }
        &:nth-child(3) {
          margin-top: -75px;
          margin-bottom: 75px;
        }
      }
    }
  }
}