@use "../mixins";
@use "../placeholders" as *;

.paragraph_last-news {
  .wrapper:nth-child(1) {
    display: grid;
    grid-template-areas:
      "title"
      "list"
      "link";
    grid-template-columns: 1fr;

    @include mixins.respond-to(md) {
      grid-template-columns: 1fr 4fr;
      grid-template-areas:
        "title title"
        "link list";
      gap: 16px;
    }
  }

  h2 {
    grid-area: title;
  }

  .link {
    grid-area: link;
    align-self: start;
    text-align: center;
    padding: 1rem;

    a {
      @extend %btn;
    }
  }

  .list {
    grid-area: list;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @include mixins.respond-to(md) {
      grid-template-columns: 1fr 1fr;

      li:nth-child(odd) {
        align-self: start;
      }

      li:nth-child(even) {
        margin-top: 40px;
        align-self: center;
      }
    }
  }

  li {}
}