@use "../mixins";
@use "../placeholders" as *;

.paragraph_last-story{
  .wrapper:nth-child(1){
    display: grid;
    grid-template-areas:
        "title"
        "list"
        "link";
    grid-template-columns: 1fr;
    @include mixins.respond-to(md) {
      grid-template-columns: 4fr 1fr;
      grid-template-areas:
        "title title"
        "list link";
      gap: 16px;
    }
  }
  h2{
    grid-area: title;
  }
  .link{
    grid-area: link;
    align-self: start;
    text-align: center;
    a{
      @extend %btn;
    }
  }
  .list{
    grid-area: list;
  }
  ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    @include mixins.respond-to(md) {
      grid-template-columns: 1fr 1fr;
      
      li:nth-child(odd){
        margin-top: 40px;
        align-self: start;
      }
      li:nth-child(even) {
        align-self: center;
      }
    }
  }
  li{
    
  }
}