@use "../mixins";
@use "../variables";
@use "../icons";

@use "sass:color";

.paragraph_movie {
  .wrapper {
    .content {
      display: grid;
      grid-template-areas:
        "aside"
        "list";
      grid-template-columns: 1fr;
      gap: 16px;

      @include mixins.respond-to(md) {
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
          "list aside";
      }
    }
  }

  .notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cccccc;
    border-radius: 12px;
    box-shadow: 0 2px 8px #c0392b22;
    padding: 1.5em;
    margin: 2em 0;

    .text {
      color: #c0392b;
      font-weight: bold;
      font-size: 1.2em;
      &::before {
        @extend .iconbefore;
        @extend .icon-movie;
      }
    }
  }

  .title {}

  aside {
    grid-area: aside;

    form {
      padding: 5px;
      background-color: #363636;
    }
  }

  ul {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
    grid-template-rows: 1fr;
    gap: 12px;
    height: auto;

    @include mixins.respond-to(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  li {
    display: flex;
    flex-direction: column;
    height: 550px;

    &.teaser-movie {
      background-color: color.scale(variables.$colorbg, $lightness: 15%);

      &:nth-child(even) {
        background-color: color.scale(variables.$colorbg, $lightness: 10%);
      }

      .background {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #000;
        min-height: 324px;
        display: flex;
      }
    }

    .wrapper {
      padding: 1rem;
    }
  }

  .navigation {}
}