@use "../placeholders" as *;
.paragraph_movie-slider{
  .wrapper{

  }
  h2{

  }
  .slider{
    padding-top: 1rem;
  }
  .swiper-movie{

  }
  .swiper-wrapper{

  }
  .swiper-movie-button-next{

  }
  .swiper-movie-button-prev{
    
  }
  .link{
    text-align: center;
    padding: 1rem;
    a{
      @extend %btn;
    }
  }
}