@use "../mixins";
@use "../placeholders" as *;
@import '@fontsource/lobster';
.paragraph_presentation-cv{
  @extend %head;
  margin-top: 0px;
  .content{
    display: grid;
    grid-template-areas:
      "title"
      "pdf";
    height: 250px;
    justify-content: space-around;
    @include mixins.respond-to(md) {
      grid-template-areas:
        "title pdf";
    }
  }
  .title{
    font-family: 'Lobster', system-ui;
    grid-area: title;
    font-size: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pdf{
    grid-area: pdf;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}