@use "../mixins";

.paragraph_text-img {
  a {
    text-decoration: underline;
  }

  &.text-img-left {
    .wrapper {
      @include mixins.respond-to(md) {
        grid-template-areas:
          "image text";
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image"
      "text";

    @include mixins.respond-to(md) {
      grid-template-areas:
        "text image";
    }
  }

  .text {
    grid-area: text;
    padding: 5px;
  }

  .image {
    grid-area: image;

    img {}
  }
}