{% use "elements.html.twig" %}
<div{% with {attr: block_contextmenu(block)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <ul>
            {% for link in links %}
                <li>
                    <a href="{{ link.url }}"{% if link.blank %} target="_blank"{% endif %}{% if link.classes != '' %} class="{{ link.classes }}"{% endif %}>
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>