{% use "elements.html.twig" %}
<div{% with {attr: block_contextmenu(block)} %}{{ block('attributes') }}{% endwith %}>
    {% for tab in paragraphs %}
        {{ debug_begin(tab) }}
        {{ paragraph_show(tab) }}
        {{ debug_end(tab) }}
    {% endfor %}
</div>