@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";

.sort-list{
  li{
    cursor: move;
  }
}

#paragraph-sort{
  .fa-arrows-alt{
    cursor: move;
  }
}

a{
  text-decoration: none;

  &.paragraph-edit{
    @extend .btn !optional;
    @extend .btn-sm !optional;
    @extend .btn-primary !optional;

    &::before{
      @extend .fa-solid !optional;
      @extend .fa-pen-to-square !optional;
    }
  }

  &.paragraph-delete{
    @extend .btn !optional;
    @extend .btn-sm !optional;
    @extend .btn-danger !optional;

    &::before{
      @extend .fa-solid !optional;
      @extend .fa-trash !optional;
    }
  }
}
