@charset "UTF-8";
/* stylelint-disable */
@import './front/reset';
@import './front/mixins';
@import './front/btn';
@import './front/hn';
@import './front/pagination';
@import './wysiwyg';
@import './front/header';
@import './front/footer';
@import './front/block/content';
@import './front/paragraphs/chapter-list';
@import './front/paragraphs/edito';
@import './front/paragraphs/head-chapter';
@import './front/paragraphs/head-history';
@import './front/paragraphs/head-post';
@import './front/paragraphs/history-list';
@import './front/paragraphs/last-history';
@import './front/paragraphs/last-news';
@import './front/paragraphs/news-list';
@import './front/paragraphs/sitemap';
@import './front/paragraphs/text';
@import './front/teaser/chapter';
@import './front/teaser/history';
@import './front/teaser/post';
/* stylelint-enable */

.wrapper {
  max-width: 80%;
  margin: 0 auto;

  .wrapper{
    max-width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}