doctrine:
  dbal:
    url: '%env(resolve:DATABASE_URL)%'

    # IMPORTANT: You MUST configure your server version,
    # either here or in the DATABASE_URL env var (see .env file)
    #server_version: '16'

    profiling_collect_backtrace: '%kernel.debug%'
  orm:
    second_level_cache:
      enabled: true
    filters:
      deletedfile: Labstag\Doctrine\Filter\DeleteFileFilter
    auto_generate_proxy_classes: true
    enable_native_lazy_objects: true
    enable_lazy_ghost_objects: true
    report_fields_where_declared: true
    validate_xml_mapping: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    auto_mapping: true
    mappings:
      Labstag:
        type: attribute
        is_bundle: false
        dir: '%kernel.project_dir%/src/Entity'
        prefix: 'Labstag\Entity'
        alias: Labstag
    controller_resolver:
      auto_mapping: false

when@test:
  doctrine:
    dbal:
      # Use SQLite file database for tests (more stable than in-memory)
      url: 'sqlite:///%kernel.project_dir%/var/test.db'
      # "TEST_TOKEN" is typically set by ParaTest
      # Only add suffix for non-SQLite databases
      # dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
  doctrine:
    orm:
      auto_generate_proxy_classes: false
      proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
      query_cache_driver:
        type: pool
        pool: doctrine.system_cache_pool
      result_cache_driver:
        type: pool
        pool: doctrine.result_cache_pool
      enable_lazy_ghost_objects: true

  framework:
    cache:
      pools:
        doctrine.result_cache_pool:
          adapter: cache.app
        doctrine.system_cache_pool:
          adapter: cache.system
