.paragraph_text-media{
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    .text,
    .video{
      padding: 2rem;
      flex: 0 0 100%;
      box-sizing: border-box;
    }
    .video{
      padding: 0px;
      @include video();
    }
    @media(min-width: 768px){
      flex-direction: row;
      .text,
      .video{
        flex: 0 0 50%;
      }
    }
  }
}