@charset "UTF-8";
/* stylelint-disable */
@use 'ckeditor5/ckeditor5';
/* stylelint-enable */
@use './../wysiwyg';
@use 'placeholder';
@use 'icons';

.accordion-item {
  width: 100%;
}

.form-group:has(textarea) {
  display: flex;
  flex-direction: column;

  >label {
    width: 100%;
    display: block;
    margin-bottom: .5rem;
  }

  .form-widget textarea {
    width: 100%;
    display: block;
  }
}

.sort-list {
  li {
    cursor: move;
  }
}

.form-group.field-array {
  .form-widget {
    .form-group {
      label {
        display: block !important;
      }
    }
  }
}

.story-sort,
.block-sort,
#paragraph-sort {
  .fa-arrows-alt {
    cursor: move;
  }
}

a {
  text-decoration: none;

  &.paragraph-edit {
    @extend %btnprimary;

    i {
      @extend .material-symbols--edit;
    }
  }

  &.paragraph-delete {
    @extend %btndanger;

    i {
      @extend .material-symbols--delete;
    }
  }
}