@charset "UTF-8";
/* stylelint-disable */
@use "bootstrap/dist/css/bootstrap";
@use "@fortawesome/fontawesome-free/css/all";
@use 'ckeditor5/ckeditor5';
/* stylelint-enable */
@use './../wysiwyg';

.accordion-item{
  width: 100%;
}

.form-group:has(textarea) {
    display: flex;
    flex-direction: column;

    > label {
        width: 100%;
        display: block;
        margin-bottom: .5rem;
    }

    .form-widget textarea {
        width: 100%;
        display: block;
    }
}

.sort-list{
  li{
    cursor: move;
  }
}

.form-group.field-array {
	.form-widget {
		.form-group {
			label {
				display: block !important;
			}
		}
	}
}

.story-sort,
.block-sort,
#paragraph-sort{
  .fa-arrows-alt{
    cursor: move;
  }
}

.paragraph-header{
  @extend .accordion-header;

  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;

  &.paragraph-edit{
    width: 40px;
    height: 30px;
    @extend .btn;
    @extend .btn-primary;
    @extend .fa-solid;
    @extend .fa-pen-to-square;
  }

  &.paragraph-delete{
    width: 40px;
    height: 30px;
    @extend .btn;
    @extend .btn-danger;
    @extend .fa-solid;
    @extend .fa-trash;
  }
}