@charset "UTF-8";
/* stylelint-disable */
@use 'ckeditor5/ckeditor5';
/* stylelint-enable */
@use './../wysiwyg';
@use 'placeholder';
@use 'icons';

.accordion-item {
  width: 100%;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

#game_other_platform_platforms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.modal-body {
  table {
    tbody {
      display: block;
      max-height: 350px;
      overflow-y: auto;

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }

    thead {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
}

.table-permissions {
  tbody {
    tr:first-child {
      th {
        background-color: #eef;
        color: #000;
      }
    }
  }
}

.form-group:has(textarea) {
  display: flex;
  flex-direction: column;

  >label {
    width: 100%;
    display: block;
    margin-bottom: .5rem;
  }

  .form-widget textarea {
    width: 100%;
    display: block;
  }
}

.sort-list {
  li {
    cursor: move;
  }
}

.form-group.field-array {
  .form-widget {
    .form-group {
      label {
        display: block !important;
      }
    }
  }
}

.story-sort,
.block-sort,
#paragraph-sort {
  .fa-arrows-alt {
    cursor: move;
  }
}

a {
  text-decoration: none;

  &.paragraph-edit {
    @extend %btnprimary;

    i {
      @extend .material-symbols--edit;
    }
  }

  &.paragraph-delete {
    @extend %btndanger;

    i {
      @extend .material-symbols--delete;
    }
  }
}

[data-controller="sortable"] {
  .field-collection-item {
    .accordion-header {
      cursor: move;
      position: relative;
      padding-left: 2rem;

      &::before {
        content: "⋮⋮";
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.4;
        font-size: 18px;
        cursor: grab;
      }
    }
  }
}