@charset "UTF-8";
/* stylelint-disable */
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import 'ckeditor5/ckeditor5.css';
/* stylelint-enable */
@import url('./../wysiwyg.scss');

.sort-list{
  li{
    cursor: move;
  }
}

.history-sort,
.block-sort,
#paragraph-sort{
  .fa-arrows-alt{
    cursor: move;
  }
}

.paragraph-header{
  @extend .accordion-header;

  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;

  &.paragraph-edit{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;

    &::before{
      @extend .fa-solid;
      @extend .fa-pen-to-square;
    }
  }

  &.paragraph-delete{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-danger;

    &::before{
      @extend .fa-solid;
      @extend .fa-trash;
    }
  }
}
