{% extends 'base.html.twig' %}
{% block title %}500 Internal Server Error{% endblock %}
{% block body %}
    <h1>500 Internal Server Error</h1>
    <h2>An error occurred while processing your request.</h2>
    <p>Try again later or <a href="{{ path('front') }}">go back to the homepage</a>.</p>
{% endblock %}