{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block body %}
    <h1>Page not found</h1>
    <h2>The requested page could not be found.</h2>
    <p>Check the URL or <a href="{{ path('front') }}">go back to the homepage</a>.</p>
{% endblock %}