@use "../placeholders";
@use "../mixins";
.dialog-serie {
  @extend %dialog;
  width: 100%;
  padding: 1rem;
  .video {
    margin-top: 11px;
    margin-bottom: 11px;
    @extend %video;
  }

  .info {
    text-align: left;
    margin-top: 1rem;

    .description {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.5;
      height: 120px;
      overflow: auto;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 10px;

      li {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
        opacity: 0.8;
      }
    }
  }

  .imdb {
    margin-top: 1rem;

    a {
      color: #ffcc00;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #ffd700;
      }
    }
  }
}

// Animation d’apparition
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Mode responsive
@media (max-width: 768px) {

  .dialog-close {
    font-size: 1.5rem;
  }
}
