footer{
  background-color: blueviolet;
  padding: 50px;
  .block_links{
    @include reusable-block;
    ul{
      display: flex;
    }
    a{
      color: white;
      text-decoration: none;
      margin: 0 10px;
    }
  }
}