$breakpoint-xs: 0;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

$colorbg: #121212;
$colortext: #ffffff;
$categorybg : #6f42c1;
$tagbg: #007bff;
$adminbg: #000000;

$padding-mobile: 4px;
$padding-tablet: 16px;
$padding-desktop: 18px;
$padding-large: 20px;