@use "flag-icons/css/flag-icons.min";


@use 'icons';
@use 'variables';
@use 'mixins';
@use 'placeholders';
@use 'reset';
@use 'base';
@use 'form';
@use 'layout';


@use 'blocks/admin' as blockadmin;
@use 'blocks/breadcrumb' as blockbreadcrumb;
@use 'blocks/content' as blockcontent;
@use 'blocks/default' as blockdefault;
@use 'blocks/flashbag' as blockflashbag;
@use 'blocks/hero' as blockhero;
@use 'blocks/html' as blockhtml;
@use 'blocks/links' as blocklinks;
@use 'blocks/paragraphs' as blockparagraphs;


@use 'paragraphs/chapter-lastnext' as paragraphchapter-lastnext;
@use 'paragraphs/chapter-list' as paragraphchapter-list;
@use 'paragraphs/default' as paragraphdefault;
@use 'paragraphs/edito' as paragraphedito;
@use 'paragraphs/episode-list' as paragraphepisode-list;
@use 'paragraphs/experiences' as paragraphexperiences;
@use 'paragraphs/form' as paragraphform;
@use 'paragraphs/head-chapter' as paragraphhead-chapter;
@use 'paragraphs/head-cv' as paragraphhead-cv;
@use 'paragraphs/head-game' as paragraphhead-game;
@use 'paragraphs/head-movie' as paragraphhead-movie;
@use 'paragraphs/head-post' as paragraphhead-post;
@use 'paragraphs/head-saga' as paragraphhead-saga;
@use 'paragraphs/head-season' as paragraphhead-season;
@use 'paragraphs/head-serie' as paragraphhead-serie;
@use 'paragraphs/head-story' as paragraphhead-story;
@use 'paragraphs/head' as paragraphhead;
@use 'paragraphs/error' as paragrapherror;
@use 'paragraphs/hero' as paragraphhero;
@use 'paragraphs/html' as paragraphhtml;
@use 'paragraphs/img' as paragraphimg;
@use 'paragraphs/last-news' as paragraphlast-news;
@use 'paragraphs/last-story' as paragraphlast-story;
@use 'paragraphs/game' as paragraphgame;
@use 'paragraphs/movie_info' as paragraphmovie_info;
@use 'paragraphs/movie-slider' as paragraphmovie-slider;
@use 'paragraphs/movie' as paragraphmovie;
@use 'paragraphs/news-list' as paragraphnews-list;
@use 'paragraphs/saga-list' as paragraphsaga-list;
@use 'paragraphs/saga' as paragraphsaga;
@use 'paragraphs/season-list' as paragraphseason-list;
@use 'paragraphs/serie' as paragraphserie;
@use 'paragraphs/sibling' as paragraphsibling;
@use 'paragraphs/sitemap' as paragraphsitemap;
@use 'paragraphs/skills' as paragraphskills;
@use 'paragraphs/star' as paragraphstar;
@use 'paragraphs/story-list' as paragraphstory-list;
@use 'paragraphs/text-img' as paragraphtext-img;
@use 'paragraphs/text-media' as paragraphtext-media;
@use 'paragraphs/text' as paragraphtext;
@use 'paragraphs/trainingcourses' as paragraphtrainingcourses;
@use 'paragraphs/video' as paragraphvideo;

@use 'teasers/chapter' as teaserchapter;
@use 'teasers/skill' as teaserskill;
@use 'teasers/experience' as teaserexperience;
@use 'teasers/game' as teasergame;
@use 'teasers/movie' as teasermovie;
@use 'teasers/serie' as teaserserie;
@use 'teasers/page' as teaserpage;
@use 'teasers/training' as teasertraining;
@use 'teasers/post' as teaserpost;
@use 'teasers/star' as teaserstar;
@use 'teasers/saga' as teasersaga;
@use 'teasers/season' as teaserseason;
@use 'teasers/episode' as teaserepisode;
@use 'teasers/story' as teaserstory;

@use 'modal/movie' as modalmovie;

@use 'labstag';