
@use "placeholders";
.list-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    span{
        display: flex;
        align-items: center;
        gap: 8px;

        background: #eef8e7;   /* vert très clair */
        border: 1px solid #c7dfb4;
        padding: 6px 12px;
        border-radius: 20px;

        font-size: 14px;
        color: #333;
        font-weight: 500;

        position: relative;
    }
}
.headerlink_principal {

  ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0;
      margin: 0;
  }

  li {
      margin: 0;
  }

  a {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
          background-color: #333;
          color: #f1c40f;
      }
  }
}