Un nouvel utilisateur <b>%user_username%</b> a été créer.<br />

Son adresse email est <b>%user_email%</b> et ses roles <b>%user_roles%</b>
 afin de le valider, merci de cliquer sur ce <a href="%link_approval%" target="_blank">lien</a>